In [23]:
import pandas as pd
import os

#### import files local

In [13]:
base_dir = os.getcwd()

In [14]:
# csv file path
csv_songs_path = os.path.join(os.path.dirname(base_dir), "..", "data", "songs.csv")
csv_users_path = os.path.join(os.path.dirname(base_dir), "..", "data", "users.csv")
csv_stream_folder = os.path.join(os.path.dirname(base_dir), "..", "data")

df_songs = pd.read_csv(csv_songs_path)
df_users =pd.read_csv(csv_users_path)
df1 = pd.read_csv(f"{csv_stream_folder}\\streams1.csv")
df2 = pd.read_csv(f"{csv_stream_folder}\\streams2.csv")
df3 = pd.read_csv(f"{csv_stream_folder}\\streams3.csv")
df_streams = pd.concat([df1, df2, df3], ignore_index=True)

#### Cleaning

In [15]:
# validate data type

df_songs.info(), df_users.info(), df_streams.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89741 entries, 0 to 89740
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                89741 non-null  int64
 1   track_id          89741 non-null  object
 2   artists           89740 non-null  object
 3   album_name        89740 non-null  object
 4   track_name        89740 non-null  object
 5   popularity        89741 non-null  int64
 6   duration_ms       89741 non-null  int64
 7   explicit          89741 non-null  bool
 8   danceability      89741 non-null  float64
 9   energy            89741 non-null  float64
 10  key               89741 non-null  int64
 11  loudness          89741 non-null  float64
 12  mode              89741 non-null  int64
 13  speechiness       89741 non-null  float64
 14  acousticness      89741 non-null  float64
 15  instrumentalness  89741 non-null  float64
 16  liveness          89741 non-null  float64
 17  valence           89741 non-null  float64
 18  tempo             89741 non-null  float64
 19  time_signature    89741 non-null  int64
 20  track_genre       89741 non-null  object
dtypes: bool(1), float64(9), int64(6), object(5)
memory usage: 13.8+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   user_id       50000 non-null  int64
 1   user_name     50000 non-null  object
 2   user_age      50000 non-null  int64
 3   user_country  50000 non-null  object
 4   created_at    50000 non-null  object
dtypes: int64(2), object(3)
memory usage: 1.9+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34038 entries, 0 to 34037
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   user_id      34038 non-null  int64
 1   track_id     34038 non-null  object
 2   listen_time  34038 non-null  object
dtypes: int64(1), object(2)
memory usage: 797.9+ KB

(None, None, None)

In [16]:
display(df_songs.head()), display(df_users.head()), display(df_streams.head())

,id,track_id,artists,album_name,track_name,popularity,duration_ms,explicit,danceability,energy,...,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature,track_genre
0,0,5SuOikwiRyPMVoIQDJUgSV,Gen Hoshino,Comedy,Comedy,73,230666,False,0.676,0.4610,...,-6.746,0,0.1430,0.0322,0.000001,0.3580,0.715,87.917,4,acoustic
1,1,4qPNDBW1i3p13qLCt0Ki3A,Ben Woodward,Ghost (Acoustic),Ghost - Acoustic,55,149610,False,0.420,0.1660,...,-17.235,1,0.0763,0.9240,0.000006,0.1010,0.267,77.489,4,acoustic
2,2,1iJBSr7s7jYXzM8EGcbK5b,Ingrid Michaelson;ZAYN,To Begin Again,To Begin Again,57,210826,False,0.438,0.3590,...,-9.734,1,0.0557,0.2100,0.000000,0.1170,0.120,76.332,4,acoustic
3,3,6lfxq3CG4xtTiEg7opyCyx,Kina Grannis,Crazy Rich Asians (Original Motion Picture Sou...,Can't Help Falling In Love,71,201933,False,0.266,0.0596,...,-18.515,1,0.0363,0.9050,0.000071,0.1320,0.143,181.740,3,acoustic
4,4,5vjLSffimiIP26QG5WcN2K,Chord Overstreet,Hold On,Hold On,82,198853,False,0.618,0.4430,...,-9.681,1,0.0526,0.4690,0.000000,0.0829,0.167,119.949,4,acoustic

   user_id         user_name  user_age   user_country  created_at
0        1      Norma Fisher        65  United States  2024-02-07
1        2    Jorge Sullivan        28  United States  2024-11-28
2        3   Elizabeth Woods        19  United States  2024-11-16
3        4      Susan Wagner        45  United States  2024-06-14
4        5  Peter Montgomery        61  United States  2024-07-24

   user_id                track_id          listen_time
0    26213  4dBa8T7oDV9WvGr7kVS4Ez  2024-06-25 17:43:13
1     6937  4osgfFTICMkcGbbigdsa53  2024-06-25 07:26:00
2    21407  2LoQWx41KeqOrSFra089YS  2024-06-25 13:25:26
3    47146  7cfG5lFeJWEgpSnubt4O4W  2024-06-25 18:17:50
4    38594  6tilCYbheGMHo3Hw4F22hF  2024-06-25 17:33:21

(None, None, None)

In [17]:
# change data type

In [18]:
# check for missing values

In [19]:
# handle missing values if exists

In [20]:
# check for duplicate data

In [21]:
# handle duplicate if exists

#### Join

In [22]:
# main table for analysis
streams_full_clean_analysis = df_streams.merge(df_users, on="user_id", how="inner") \
                                        .merge(df_songs, on="track_id", how="inner")

# temp table for completeness
streams_full_archieve = df_streams.merge(df_users, on="user_id", how="left") \
                                  .merge(df_songs, on="track_id", how="left")

#### Genre-level KPIs

#### Hourly-level KPIs

#### User behaviour

#### Track popularity summary

#### Daily active users

#### Fact_streaming

#### Dim_songs & Dim_users