In [17]:
import mysql.connector
from mysql.connector import Error
import pandas as pd
import os

In [20]:
base_dir = os.getcwd()

# csv file path
csv_songs_path = os.path.join(base_dir, "..", "data", "songs.csv")
csv_users_path = os.path.join(base_dir, "..", "data", "users.csv")

# table name
table_songs = "songs"
table_users = "users"

In [21]:
songs = pd.read_csv(csv_songs_path)
users =pd.read_csv(csv_users_path)

In [25]:
songs.shape, users.shape

((89741, 21), (50000, 5))

In [27]:
def generate_create_table(df, table_name="A"):
    dtype_map = {
        "object": "VARCHAR(255)",
        "int64": "INT",
        "float64": "FLOAT",
        "bool": "BOOLEAN",
    }

    columns = []
    for col in df.columns:
        dtype = str(df[col].dtype)
        sql_type = dtype_map.get(dtype, "TEXT")  # fallback ke TEXT kalau tipe tidak dikenali
        columns.append(f"    {col} {sql_type}")

    columns_str = ",\n".join(columns)
    create_stmt = f"CREATE TABLE {table_name} (\n{columns_str}\n);"
    return create_stmt

print(generate_create_table(songs, '{table_songs}'))

CREATE TABLE {table_songs} (
    id INT,
    track_id VARCHAR(255),
    artists VARCHAR(255),
    album_name VARCHAR(255),
    track_name VARCHAR(255),
    popularity INT,
    duration_ms INT,
    explicit BOOLEAN,
    danceability FLOAT,
    energy FLOAT,
    key INT,
    loudness FLOAT,
    mode INT,
    speechiness FLOAT,
    acousticness FLOAT,
    instrumentalness FLOAT,
    liveness FLOAT,
    valence FLOAT,
    tempo FLOAT,
    time_signature INT,
    track_genre VARCHAR(255)
);

In [28]:
print(generate_create_table(users, '{table_users}'))

CREATE TABLE {table_users} (
    user_id INT,
    user_name VARCHAR(255),
    user_age INT,
    user_country VARCHAR(255),
    created_at VARCHAR(255)
);

In [29]:
def generate_insert_into(df, table_name="A"):
    columns = df.columns.tolist()
    columns_str = ", ".join(columns)
    placeholders = ", ".join(["%s"] * len(columns))
    insert_stmt = f"INSERT INTO {table_name} ({columns_str}) VALUES ({placeholders});"
    return insert_stmt

In [30]:
generate_insert_into(songs, '{table_songs}')

'INSERT INTO {table_songs} (id, track_id, artists, album_name, track_name, popularity, duration_ms, explicit, danceability, energy, key, loudness, mode, speechiness, acousticness, instrumentalness, liveness, valence, tempo, time_signature, track_genre) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);'

In [31]:
generate_insert_into(users, '{table_users}')

'INSERT INTO {table_users} (user_id, user_name, user_age, user_country, created_at) VALUES (%s, %s, %s, %s, %s);'