In [1]:
import pandas as pd
import os

#### import files local

In [2]:
base_dir = os.getcwd()

In [25]:
# csv file path
csv_songs_path = os.path.join(base_dir, "..", "data", "songs.csv")
csv_users_path = os.path.join(base_dir, "..", "data", "users.csv")
csv_stream_folder = os.path.join(base_dir, "..", "data")

df_songs = pd.read_csv(csv_songs_path)
df_users =pd.read_csv(csv_users_path)
df1 = pd.read_csv(f"{csv_stream_folder}\\streams1.csv")
df2 = pd.read_csv(f"{csv_stream_folder}\\streams2.csv")
df3 = pd.read_csv(f"{csv_stream_folder}\\streams3.csv")
df_streams = pd.concat([df1, df2, df3], ignore_index=True)

#### Cleaning

In [26]:
# validate data type

df_songs.info(), df_users.info(), df_streams.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89741 entries, 0 to 89740
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                89741 non-null  int64
 1   track_id          89741 non-null  object
 2   artists           89740 non-null  object
 3   album_name        89740 non-null  object
 4   track_name        89740 non-null  object
 5   popularity        89741 non-null  int64
 6   duration_ms       89741 non-null  int64
 7   explicit          89741 non-null  bool
 8   danceability      89741 non-null  float64
 9   energy            89741 non-null  float64
 10  key               89741 non-null  int64
 11  loudness          89741 non-null  float64
 12  mode              89741 non-null  int64
 13  speechiness       89741 non-null  float64
 14  acousticness      89741 non-null  float64
 15  instrumentalness  89741 non-null  float64
 16  liveness          89741 non-null  float64
 17  valence           89741 non-null  float64
 18  tempo             89741 non-null  float64
 19  time_signature    89741 non-null  int64
 20  track_genre       89741 non-null  object
dtypes: bool(1), float64(9), int64(6), object(5)
memory usage: 13.8+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   user_id       50000 non-null  int64
 1   user_name     50000 non-null  object
 2   user_age      50000 non-null  int64
 3   user_country  50000 non-null  object
 4   created_at    50000 non-null  object
dtypes: int64(2), object(3)
memory usage: 1.9+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34038 entries, 0 to 34037
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   user_id      34038 non-null  int64
 1   track_id     34038 non-null  object
 2   listen_time  34038 non-null  object
dtypes: int64(1), object(2)
memory usage: 797.9+ KB

(None, None, None)

In [30]:
display(df_songs.head()), display(df_users.head()), display(df_streams.head())

,id,track_id,artists,album_name,track_name,popularity,duration_ms,explicit,danceability,energy,...,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature,track_genre
0,0,5SuOikwiRyPMVoIQDJUgSV,Gen Hoshino,Comedy,Comedy,73,230666,False,0.676,0.4610,...,-6.746,0,0.1430,0.0322,0.000001,0.3580,0.715,87.917,4,acoustic
1,1,4qPNDBW1i3p13qLCt0Ki3A,Ben Woodward,Ghost (Acoustic),Ghost - Acoustic,55,149610,False,0.420,0.1660,...,-17.235,1,0.0763,0.9240,0.000006,0.1010,0.267,77.489,4,acoustic
2,2,1iJBSr7s7jYXzM8EGcbK5b,Ingrid Michaelson;ZAYN,To Begin Again,To Begin Again,57,210826,False,0.438,0.3590,...,-9.734,1,0.0557,0.2100,0.000000,0.1170,0.120,76.332,4,acoustic
3,3,6lfxq3CG4xtTiEg7opyCyx,Kina Grannis,Crazy Rich Asians (Original Motion Picture Sou...,Can't Help Falling In Love,71,201933,False,0.266,0.0596,...,-18.515,1,0.0363,0.9050,0.000071,0.1320,0.143,181.740,3,acoustic
4,4,5vjLSffimiIP26QG5WcN2K,Chord Overstreet,Hold On,Hold On,82,198853,False,0.618,0.4430,...,-9.681,1,0.0526,0.4690,0.000000,0.0829,0.167,119.949,4,acoustic

   user_id         user_name  user_age   user_country created_at
0        1      Norma Fisher        65  United States 2024-02-07
1        2    Jorge Sullivan        28  United States 2024-11-28
2        3   Elizabeth Woods        19  United States 2024-11-16
3        4      Susan Wagner        45  United States 2024-06-14
4        5  Peter Montgomery        61  United States 2024-07-24

   user_id                track_id         listen_time
0    26213  4dBa8T7oDV9WvGr7kVS4Ez 2024-06-25 17:43:13
1     6937  4osgfFTICMkcGbbigdsa53 2024-06-25 07:26:00
2    21407  2LoQWx41KeqOrSFra089YS 2024-06-25 13:25:26
3    47146  7cfG5lFeJWEgpSnubt4O4W 2024-06-25 18:17:50
4    38594  6tilCYbheGMHo3Hw4F22hF 2024-06-25 17:33:21

(None, None, None)

In [28]:
# change data type
df_streams['listen_time'] = pd.to_datetime(df_streams['listen_time'])
df_users['created_at'] = pd.to_datetime(df_users['created_at'])

In [29]:
df_users.info(), df_streams.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   user_id       50000 non-null  int64
 1   user_name     50000 non-null  object
 2   user_age      50000 non-null  int64
 3   user_country  50000 non-null  object
 4   created_at    50000 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(2)
memory usage: 1.9+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34038 entries, 0 to 34037
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   user_id      34038 non-null  int64
 1   track_id     34038 non-null  object
 2   listen_time  34038 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 797.9+ KB

(None, None)

In [ ]:
# handle missing values if exists
def check_handling_nan(df, name):
    any_nan = df.isna().any().any()
    if any_nan:
        # handle nan in that df
        for col in df.columns:
            if df[col].isna().any():
                print(f"Handle missing values on df {name}, column {col}")
                if df[col].dtype == 'object':
                    df[col] = df[col].fillna('Unknown')
                elif pd.api.types.is_datetime64_any_dtype(df[col]):
                    df[col] = df[col].fillna(pd.to_datetime('9999-12-31'))
                else:
                    df[col] = df[col].fillna(0)
    return df

In [34]:
df_streams = check_handling_nan(df_streams, "streams")
print(f"Missing values:\n{df_streams.isna().sum()}")

df_users = check_handling_nan(df_users, "users")
print(f"Missing values:\n{df_users.isna().sum()}")

df_songs = check_handling_nan(df_songs, "songs")
print(f"Missing values:\n{df_songs.isna().sum()}")

Missing values:
user_id        0
track_id       0
listen_time    0
dtype: int64
Missing values:
user_id         0
user_name       0
user_age        0
user_country    0
created_at      0
dtype: int64
Handle missing values on df songs, column artists
Handle missing values on df songs, column album_name
Handle missing values on df songs, column track_name
Missing values:
id                  0
track_id            0
artists             0
album_name          0
track_name          0
popularity          0
duration_ms         0
explicit            0
danceability        0
energy              0
key                 0
loudness            0
mode                0
speechiness         0
acousticness        0
instrumentalness    0
liveness            0
valence             0
tempo               0
time_signature      0
track_genre         0
dtype: int64

In [46]:
def check_handling_duplicate(df, id_column, name):
    if df.duplicated(subset=id_column).any():
        print(f"Found duplicate on {name}, drop duplicate...")
        df = df.drop_duplicates(subset=id_column, keep='first')
    print(f"No duplicate on {name}")
    return df

In [47]:
df_songs = check_handling_duplicate(df_songs, id_column='track_id', name="songs")
df_users = check_handling_duplicate(df_users, id_column='user_id', name="users")
df_streams = check_handling_duplicate(df_streams, id_column=['user_id', 'track_id', 'listen_time'], name="streams")

No duplicate on songs
No duplicate on users
No duplicate on streams

#### Join

In [48]:
# main table for analysis
streams_full_clean_analysis = df_streams.merge(df_users, on="user_id", how="inner") \
                                        .merge(df_songs, on="track_id", how="inner")

# temp table for completeness
streams_full_archieve = df_streams.merge(df_users, on="user_id", how="left") \
                                  .merge(df_songs, on="track_id", how="left")

In [51]:
missing_users_df = streams_full_archieve[streams_full_archieve['user_id'].isna()]
missing_songs_df = streams_full_archieve[streams_full_archieve['track_id'].isna()]

missing_users_count = len(missing_users_df)
missing_songs_count = len(missing_songs_df)

print(f"[INFO] Missing users: {missing_users_count}")
print(f"[INFO] Missing songs: {missing_songs_count}")

# save hanya jika ada data user atau song yang hilang
if missing_users_count > 0:
    missing_users_df.to_csv("audit_missing_users.csv", index=False)
    print("[INFO] Saved audit_missing_users.csv")

if missing_songs_count > 0:
    missing_songs_df.to_csv("audit_missing_songs.csv", index=False)
    print("[INFO] Saved audit_missing_songs.csv")

[INFO] Missing users: 0
[INFO] Missing songs: 0

#### Genre-level KPIs

In [53]:
genre_level_kpis = streams_full_clean_analysis.groupby("track_genre").agg(
    total_streams=("listen_time", "count"),
    avg_popularity=("popularity", "mean"),
    unique_listeners=("user_id", "nunique"),
    avg_duration=("duration_ms", "mean")    
).reset_index()

In [64]:
genre_explicit_kpi = df_songs.groupby("track_genre").agg(
    total_track=("track_id", "count"),
    total_explicit_track=("explicit", "sum")
).reset_index()

genre_explicit_kpi['explicit_ratio'] = genre_explicit_kpi['total_explicit_track']/genre_explicit_kpi['total_track']

In [67]:
genre_explicit_kpi

     track_genre  total_track  total_explicit_track  explicit_ratio
0       acoustic         1000                    52        0.052000
1       afrobeat          999                    18        0.018018
2       alt-rock          999                    56        0.056056
3    alternative          407                   127        0.312039
4        ambient          999                     5        0.005005
..           ...          ...                   ...             ...
108       techno          416                     9        0.021635
109       trance          708                    10        0.014124
110     trip-hop          904                    37        0.040929
111      turkish          870                   214        0.245977
112  world-music          923                     0        0.000000

[113 rows x 4 columns]

In [68]:
genre_level_kpis

,track_genre,total_streams,avg_popularity,unique_listeners,avg_duration
0,acoustic,360,41.955556,354,216987.713889
1,afrobeat,368,25.122283,366,259237.461957
2,alt-rock,379,36.266491,377,239878.646438
3,alternative,148,22.195946,144,205637.209459
4,ambient,363,45.000000,361,231071.887052
...,...,...,...,...,...
108,techno,170,38.870588,168,315895.682353
109,trance,251,38.370518,249,301727.892430
110,trip-hop,392,32.897959,391,272911.908163
111,turkish,368,39.513587,365,220596.831522
112,world-music,345,40.486957,345,285720.139130

In [72]:
genre_level_kpis = genre_level_kpis.merge(genre_explicit_kpi, on="track_genre", how="left")

In [73]:
genre_level_kpis

,track_genre,total_streams,avg_popularity,unique_listeners,avg_duration,total_track,total_explicit_track,explicit_ratio
0,acoustic,360,41.955556,354,216987.713889,1000,52,0.052000
1,afrobeat,368,25.122283,366,259237.461957,999,18,0.018018
2,alt-rock,379,36.266491,377,239878.646438,999,56,0.056056
3,alternative,148,22.195946,144,205637.209459,407,127,0.312039
4,ambient,363,45.000000,361,231071.887052,999,5,0.005005
...,...,...,...,...,...,...,...,...
108,techno,170,38.870588,168,315895.682353,416,9,0.021635
109,trance,251,38.370518,249,301727.892430,708,10,0.014124
110,trip-hop,392,32.897959,391,272911.908163,904,37,0.040929
111,turkish,368,39.513587,365,220596.831522,870,214,0.245977
112,world-music,345,40.486957,345,285720.139130,923,0,0.000000

In [103]:
most_popular_track = streams_full_clean_analysis \
    .groupby(["track_genre", "track_id"]) \
    .agg(
        total_streams=("track_id", "count") 
    ) \
    .reset_index() \
    .sort_values(["track_genre", "total_streams"], ascending=[True, False]) \
    .drop_duplicates(subset=["track_genre"], keep="first")

most_popular_track

       track_genre                track_id  total_streams
24        acoustic  0WWuB1F1H4dr3Bdoe1vtHs              3
362       afrobeat  1aAnuZ5RNefagXxjdmu4FI              3
803       alt-rock  57ECsM5I8Y4Jyyy3AEYW9U              3
984    alternative  340BPA00CljfaZLOnRHmz2              3
1108       ambient  1ZUwoCWz8rJqzBTwtdscPN              3
...            ...                     ...            ...
27127       techno  1Of5q9FxoyHnMsXEdl84bO              3
27346       trance  3g36KmRGI8hmnCcTFak4Wn              3
27604     trip-hop  3cg38isdTrBH63B4BMywsw              4
27799      turkish  1067ZkQkZgEHszEfnFWEgM              4
28094  world-music  0c4UVGcDiYxFMH0ly0xa4R              4

[113 rows x 3 columns]

In [108]:
genre_level_kpis = genre_level_kpis.merge(most_popular_track[["track_genre", "track_id"]], on="track_genre", how="left")

In [109]:
genre_level_kpis

,track_genre,total_streams,avg_popularity,unique_listeners,avg_duration,total_track,total_explicit_track,explicit_ratio,track_id
0,acoustic,360,41.955556,354,216987.713889,1000,52,0.052000,0WWuB1F1H4dr3Bdoe1vtHs
1,afrobeat,368,25.122283,366,259237.461957,999,18,0.018018,1aAnuZ5RNefagXxjdmu4FI
2,alt-rock,379,36.266491,377,239878.646438,999,56,0.056056,57ECsM5I8Y4Jyyy3AEYW9U
3,alternative,148,22.195946,144,205637.209459,407,127,0.312039,340BPA00CljfaZLOnRHmz2
4,ambient,363,45.000000,361,231071.887052,999,5,0.005005,1ZUwoCWz8rJqzBTwtdscPN
...,...,...,...,...,...,...,...,...,...
108,techno,170,38.870588,168,315895.682353,416,9,0.021635,1Of5q9FxoyHnMsXEdl84bO
109,trance,251,38.370518,249,301727.892430,708,10,0.014124,3g36KmRGI8hmnCcTFak4Wn
110,trip-hop,392,32.897959,391,272911.908163,904,37,0.040929,3cg38isdTrBH63B4BMywsw
111,turkish,368,39.513587,365,220596.831522,870,214,0.245977,1067ZkQkZgEHszEfnFWEgM
112,world-music,345,40.486957,345,285720.139130,923,0,0.000000,0c4UVGcDiYxFMH0ly0xa4R

#### Daily Genre-level KPIs

Since all the data has the same date, the daily genre-level kpis results will be the same as the overall genre-level kpis above.

In [127]:
streams_full_clean_analysis['listen_date'] = streams_full_clean_analysis['listen_time'].dt.date

In [129]:
daily_genre_level_kpis = streams_full_clean_analysis.groupby(["listen_date", "track_genre"]).agg(
    total_streams=("listen_time", "count"),
    avg_popularity=("popularity", "mean"),
    unique_listeners=("user_id", "nunique"),
    avg_duration=("duration_ms", "mean"),
).reset_index()

daily_genre_level_kpis

,listen_date,track_genre,total_streams,avg_popularity,unique_listeners,avg_duration
0,2024-06-25,acoustic,360,41.955556,354,216987.713889
1,2024-06-25,afrobeat,368,25.122283,366,259237.461957
2,2024-06-25,alt-rock,379,36.266491,377,239878.646438
3,2024-06-25,alternative,148,22.195946,144,205637.209459
4,2024-06-25,ambient,363,45.000000,361,231071.887052
...,...,...,...,...,...,...
108,2024-06-25,techno,170,38.870588,168,315895.682353
109,2024-06-25,trance,251,38.370518,249,301727.892430
110,2024-06-25,trip-hop,392,32.897959,391,272911.908163
111,2024-06-25,turkish,368,39.513587,365,220596.831522
112,2024-06-25,world-music,345,40.486957,345,285720.139130

In [130]:
most_popular_track_daily = streams_full_clean_analysis \
    .groupby(["listen_date", "track_genre", "track_id"]) \
    .agg(
        total_streams=("track_id", "count") 
    ) \
    .reset_index() \
    .sort_values(["listen_date", "track_genre", "total_streams"], ascending=[True, True, False]) \
    .drop_duplicates(subset=["track_genre"], keep="first")

In [131]:
most_popular_track_daily

      listen_date  track_genre                track_id  total_streams
24     2024-06-25     acoustic  0WWuB1F1H4dr3Bdoe1vtHs              3
362    2024-06-25     afrobeat  1aAnuZ5RNefagXxjdmu4FI              3
803    2024-06-25     alt-rock  57ECsM5I8Y4Jyyy3AEYW9U              3
984    2024-06-25  alternative  340BPA00CljfaZLOnRHmz2              3
1108   2024-06-25      ambient  1ZUwoCWz8rJqzBTwtdscPN              3
...           ...          ...                     ...            ...
27127  2024-06-25       techno  1Of5q9FxoyHnMsXEdl84bO              3
27346  2024-06-25       trance  3g36KmRGI8hmnCcTFak4Wn              3
27604  2024-06-25     trip-hop  3cg38isdTrBH63B4BMywsw              4
27799  2024-06-25      turkish  1067ZkQkZgEHszEfnFWEgM              4
28094  2024-06-25  world-music  0c4UVGcDiYxFMH0ly0xa4R              4

[113 rows x 4 columns]

In [132]:
daily_genre_level_kpis = daily_genre_level_kpis.merge(most_popular_track_daily[["track_genre", "track_id"]], on="track_genre", how="left")

In [134]:
daily_genre_level_kpis["total_streams"].sum(), genre_level_kpis["total_streams"].sum()

(np.int64(34038), np.int64(34038))

#### Hourly-level KPIs

In [139]:
streams_full_clean_analysis['listen_hour'] = streams_full_clean_analysis['listen_time'].dt.hour
streams_full_clean_analysis.columns

Index(['user_id', 'track_id', 'listen_time', 'user_name', 'user_age',
       'user_country', 'created_at', 'id', 'artists', 'album_name',
       'track_name', 'popularity', 'duration_ms', 'explicit', 'danceability',
       'energy', 'key', 'loudness', 'mode', 'speechiness', 'acousticness',
       'instrumentalness', 'liveness', 'valence', 'tempo', 'time_signature',
       'track_genre', 'listen_date', 'listen_hour'],
      dtype='object')

In [170]:
hourly_level_kpi = streams_full_clean_analysis.groupby(["listen_date", "listen_hour"]).agg(
    total_streams=("listen_time", "count"),
    unique_listeners=("user_id", "nunique"),
).reset_index()
hourly_level_kpi

   listen_date  listen_hour  total_streams  unique_listeners
0   2024-06-25            0           1434               772
1   2024-06-25            1           1408               754
2   2024-06-25            2           1406               739
3   2024-06-25            3           1410               763
4   2024-06-25            4           1443               759
5   2024-06-25            5           1429               769
6   2024-06-25            6           1418               736
7   2024-06-25            7           1436               761
8   2024-06-25            8           1457               760
9   2024-06-25            9           1515               775
10  2024-06-25           10           1503               782
11  2024-06-25           11           1464               762
12  2024-06-25           12           1434               760
13  2024-06-25           13           1420               762
14  2024-06-25           14           1441               748
15  2024-06-25           15           1441               767
16  2024-06-25           16           1413               753
17  2024-06-25           17           1470               781
18  2024-06-25           18           1452               767
19  2024-06-25           19           1438               748
20  2024-06-25           20           1402               769
21  2024-06-25           21           1449               781
22  2024-06-25           22           1444               769
23  2024-06-25           23            911               477

In [143]:
top_genre_hourly = streams_full_clean_analysis.groupby(["listen_date", "listen_hour", "track_genre"]).agg(
    total_streams=("track_genre", "count")
).reset_index() \
.sort_values(["listen_date", "listen_hour", "total_streams"], ascending=[True, True, False]) \
.drop_duplicates(subset=["listen_hour"], keep="first")
top_genre_hourly

     listen_date  listen_hour     track_genre  total_streams
7     2024-06-25            0       bluegrass             28
113   2024-06-25            1        afrobeat             26
335   2024-06-25            2        trip-hop             22
413   2024-06-25            3         new-age             27
532   2024-06-25            4       power-pop             25
564   2024-06-25            5        afrobeat             25
786   2024-06-25            6         turkish             25
882   2024-06-25            7           salsa             31
919   2024-06-25            8         country             26
1116  2024-06-25            9           study             30
1232  2024-06-25           10           tango             26
1252  2024-06-25           11        children             28
1402  2024-06-25           12         hip-hop             24
1476  2024-06-25           13        cantopop             26
1589  2024-06-25           14        children             21
1791  2024-06-25           15           study             25
1806  2024-06-25           16     black-metal             25
1919  2024-06-25           17     black-metal             30
2049  2024-06-25           18  detroit-techno             22
2146  2024-06-25           19          brazil             23
2350  2024-06-25           20           sleep             28
2388  2024-06-25           21          disney             24
2501  2024-06-25           22          disney             31
2600  2024-06-25           23        cantopop             16

In [146]:
top_artist_hourly = streams_full_clean_analysis.groupby(["listen_date", "listen_hour", "artists"]).agg(
    total_streams=("artists", "count")
).reset_index() \
.sort_values(["listen_date", "listen_hour", "total_streams"], ascending=[True, True, False]) \
.drop_duplicates(subset=["listen_hour"], keep="first")
top_artist_hourly

      listen_date  listen_hour         artists  total_streams
436    2024-06-25            0   Hank Williams              8
1481   2024-06-25            1     Chronic Law              5
2963   2024-06-25            2    George Jones              7
4211   2024-06-25            3    George Jones              7
5463   2024-06-25            4    George Jones              9
6584   2024-06-25            5       CoComelon              6
7676   2024-06-25            6       Alphaxone              4
9081   2024-06-25            7      Brenda Lee              4
10879  2024-06-25            8     Linkin Park              5
11591  2024-06-25            9  Arctic Monkeys              6
13987  2024-06-25           10     The Beatles              6
14750  2024-06-25           11        Jay Chou              5
15876  2024-06-25           12   Elvis Presley              5
17250  2024-06-25           13   Hank Williams              9
18511  2024-06-25           14    George Jones              5
19560  2024-06-25           15   Carlos Gardel              7
20712  2024-06-25           16      Almafuerte              5
22370  2024-06-25           17    George Jones              6
24265  2024-06-25           18         Scooter              6
25051  2024-06-25           19   Hank Williams              6
26932  2024-06-25           20     The Beatles              6
27528  2024-06-25           21    George Jones              8
29497  2024-06-25           22     The Beatles              6
29764  2024-06-25           23             BTS              4

In [221]:
bins = list(range(10, 101 + 1, 10))  # [11, 21, 31, ..., 101]
labels = [f"{i}-{i+9}" for i in bins[:-1]]  # ["11-20", "21-30", ..., "91-100"]
streams_full_clean_analysis['age_group'] = pd.cut(
    streams_full_clean_analysis['user_age'],
    bins=bins,
    labels=labels,
    right=False,
    include_lowest=True
)
streams_full_clean_analysis.head()

,user_id,track_id,listen_time,user_name,user_age,user_country,created_at,id,artists,album_name,...,acousticness,instrumentalness,liveness,valence,tempo,time_signature,track_genre,listen_date,listen_hour,age_group
0,26213,4dBa8T7oDV9WvGr7kVS4Ez,2024-06-25 17:43:13,Cathy Smith,39,United States,2024-06-05,91162,Panic! At The Disco,Pop n' Fresh,...,0.001090,0.00230,0.2710,0.1790,117.637,4,rock,2024-06-25,17,30-39
1,6937,4osgfFTICMkcGbbigdsa53,2024-06-25 07:26:00,Tommy Grant,61,United States,2024-10-16,103402,Frank Ocean,Novacane,...,0.058400,0.00126,0.1600,0.3700,93.510,4,soul,2024-06-25,7,60-69
2,21407,2LoQWx41KeqOrSFra089YS,2024-06-25 13:25:26,Garrett Ryan,34,United States,2024-08-05,42552,Internal Rot,Grieving Birth,...,0.000412,0.71800,0.5000,0.0689,122.842,3,grindcore,2024-06-25,13,30-39
3,47146,7cfG5lFeJWEgpSnubt4O4W,2024-06-25 18:17:50,Patrick Nash,44,United States,2024-01-21,50935,Rata Blanca,The forgotten Kingdom,...,0.004220,0.00434,0.1840,0.5230,130.064,4,heavy-metal,2024-06-25,18,40-49
4,38594,6tilCYbheGMHo3Hw4F22hF,2024-06-25 17:33:21,Bonnie Walls DVM,69,United States,2024-11-07,79664,Lafayette Leake,"Easy Blues (France, 1978) [Blues Reference]",...,0.237000,0.07230,0.0853,0.7510,110.932,4,piano,2024-06-25,17,60-69

In [222]:
mos_engaged_age_group_hourly = streams_full_clean_analysis.groupby(["listen_date", "listen_hour", "age_group"]).agg(
    total_streams=("age_group", "count")
).reset_index() \
.sort_values(["listen_date", "listen_hour", "total_streams"], ascending=[True, True, False]) \
.drop_duplicates(subset=["listen_hour"], keep="first")
mos_engaged_age_group_hourly

C:\Users\Asus\AppData\Local\Temp;\ipykernel_5068\3306844743.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  mos_engaged_age_group_hourly = streams_full_clean_analysis.groupby(["listen_date", "listen_hour", "age_group"]).agg(

    listen_date  listen_hour age_group  total_streams
2    2024-06-25            0     30-39            307
12   2024-06-25            1     40-49            324
19   2024-06-25            2     20-29            317
28   2024-06-25            3     20-29            284
40   2024-06-25            4     50-59            312
48   2024-06-25            5     40-49            320
55   2024-06-25            6     20-29            319
64   2024-06-25            7     20-29            282
76   2024-06-25            8     50-59            306
82   2024-06-25            9     20-29            315
92   2024-06-25           10     30-39            311
101  2024-06-25           11     30-39            318
109  2024-06-25           12     20-29            289
119  2024-06-25           13     30-39            293
127  2024-06-25           14     20-29            290
137  2024-06-25           15     30-39            290
149  2024-06-25           16     60-69            287
154  2024-06-25           17     20-29            317
167  2024-06-25           18     60-69            316
175  2024-06-25           19     50-59            298
182  2024-06-25           20     30-39            283
193  2024-06-25           21     50-59            298
203  2024-06-25           22     60-69            305
208  2024-06-25           23     20-29            183

In [223]:
hourly_level_kpi = hourly_level_kpi.merge(top_genre_hourly[["listen_date", "listen_hour", "track_genre"]], on=["listen_date", "listen_hour"], how="left")

In [224]:
hourly_level_kpi = hourly_level_kpi.merge(top_artist_hourly[["listen_date", "listen_hour", "artists"]], on=["listen_date", "listen_hour"], how="left")

In [225]:
hourly_level_kpi = hourly_level_kpi.merge(mos_engaged_age_group_hourly[["listen_date", "listen_hour", "age_group"]], on=["listen_date", "listen_hour"], how="left")

In [226]:
hourly_level_kpi

,listen_date,listen_hour,total_streams,unique_listeners,track_genre_x,artists_x,age_group_x,track_genre_y,artists_y,age_group_y
0,2024-06-25,0,1434,772,bluegrass,Hank Williams,30-39,bluegrass,Hank Williams,30-39
1,2024-06-25,1,1408,754,afrobeat,Chronic Law,40-49,afrobeat,Chronic Law,40-49
2,2024-06-25,2,1406,739,trip-hop,George Jones,20-29,trip-hop,George Jones,20-29
3,2024-06-25,3,1410,763,new-age,George Jones,20-29,new-age,George Jones,20-29
4,2024-06-25,4,1443,759,power-pop,George Jones,50-59,power-pop,George Jones,50-59
5,2024-06-25,5,1429,769,afrobeat,CoComelon,50-59,afrobeat,CoComelon,40-49
6,2024-06-25,6,1418,736,turkish,Alphaxone,20-29,turkish,Alphaxone,20-29
7,2024-06-25,7,1436,761,salsa,Brenda Lee,20-29,salsa,Brenda Lee,20-29
8,2024-06-25,8,1457,760,country,Linkin Park,50-59,country,Linkin Park,50-59
9,2024-06-25,9,1515,775,study,Arctic Monkeys,20-29,study,Arctic Monkeys,20-29
10,2024-06-25,10,1503,782,tango,The Beatles,30-39,tango,The Beatles,30-39
11,2024-06-25,11,1464,762,children,Jay Chou,30-39,children,Jay Chou,30-39
12,2024-06-25,12,1434,760,hip-hop,Elvis Presley,50-59,hip-hop,Elvis Presley,20-29
13,2024-06-25,13,1420,762,cantopop,Hank Williams,30-39,cantopop,Hank Williams,30-39
14,2024-06-25,14,1441,748,children,George Jones,30-39,children,George Jones,20-29
15,2024-06-25,15,1441,767,study,Carlos Gardel,50-59,study,Carlos Gardel,30-39
16,2024-06-25,16,1413,753,black-metal,Almafuerte,50-59,black-metal,Almafuerte,60-69
17,2024-06-25,17,1470,781,black-metal,George Jones,20-29,black-metal,George Jones,20-29
18,2024-06-25,18,1452,767,detroit-techno,Scooter,30-39,detroit-techno,Scooter,60-69
19,2024-06-25,19,1438,748,brazil,Hank Williams,50-59,brazil,Hank Williams,50-59
20,2024-06-25,20,1402,769,sleep,The Beatles,30-39,sleep,The Beatles,30-39
21,2024-06-25,21,1449,781,disney,George Jones,50-59,disney,George Jones,50-59
22,2024-06-25,22,1444,769,disney,The Beatles,40-49,disney,The Beatles,60-69
23,2024-06-25,23,911,477,cantopop,BTS,50-59,cantopop,BTS,20-29

#### Track popularity summary

In [227]:
df_songs.columns

Index(['id', 'track_id', 'artists', 'album_name', 'track_name', 'popularity',
       'duration_ms', 'explicit', 'danceability', 'energy', 'key', 'loudness',
       'mode', 'speechiness', 'acousticness', 'instrumentalness', 'liveness',
       'valence', 'tempo', 'time_signature', 'track_genre'],
      dtype='object')

In [228]:
track_popularity = streams_full_clean_analysis.groupby("track_id").agg(
    total_streams=("track_id", "count"),
    unique_listeners=("user_id", "nunique")
).sort_values(by="total_streams", ascending=False).merge(df_songs[["track_id", "track_name", "artists", "track_genre", "popularity"]], on="track_id", how="left")

track_popularity

,track_id,total_streams,unique_listeners,track_name,artists,track_genre,popularity
0,3u2jm2FZ4x5p8k3XypzKzv,5,5,Little Christmas Tree,Michael Jackson,soul,0
1,0BtD9k8XjGliQJMS2hxwNx,5,5,Varias Queixas,Filipe Escandurras,pagode,42
2,5JyEUS5Ewl7VCudWuN78PU,4,4,Afzai,The Yellow Diary,indie-pop,38
3,555NYWQ1PbmLJiTW6XFwtr,4,4,Munjaane Manjalli,Raghu Dixit,folk,52
4,4gDajIG4yNgBtym4zgtfRe,4,4,自閉円頓裹,桶狭間ありさ,anime,42
...,...,...,...,...,...,...,...
28347,001YQlnDSduXd5LgBd66gT,1,1,El Tiempo Es Dinero - Remasterizado 2007,Soda Stereo,punk-rock,38
28348,003vvx7Niy0yvhvHt4a68B,1,1,Mr. Brightside,The Killers,alt-rock,86
28349,0051nJ5xbRu8kuqPTYa9l7,1,1,"Hips, Tits, Lips, Power!",Pigface,industrial,20
28350,005U5ZHLoA4OEkWewAa32S,1,1,Strength In Your Conviction,Dropdead,grindcore,14
28351,006Bi4j0yzwOc3y69GOlYV,1,1,Computadores Fazem Arte,Chico Science;Nação Zumbi,hard-rock,36

#### Fact_streaming

In [229]:
fact_streaming = streams_full_clean_analysis[["user_id", "track_id", "listen_time", "listen_date", "listen_hour", "artists", "track_name", "track_genre"]]

In [230]:
fact_streaming.head()

,user_id,track_id,listen_time,listen_date,listen_hour,artists,track_name,track_genre
0,26213,4dBa8T7oDV9WvGr7kVS4Ez,2024-06-25 17:43:13,2024-06-25,17,Panic! At The Disco,Don't Let the Light Go Out,rock
1,6937,4osgfFTICMkcGbbigdsa53,2024-06-25 07:26:00,2024-06-25,7,Frank Ocean,Novacane,soul
2,21407,2LoQWx41KeqOrSFra089YS,2024-06-25 13:25:26,2024-06-25,13,Internal Rot,Harpooned,grindcore
3,47146,7cfG5lFeJWEgpSnubt4O4W,2024-06-25 18:17:50,2024-06-25,18,Rata Blanca,The Forgotten Kingdom,heavy-metal
4,38594,6tilCYbheGMHo3Hw4F22hF,2024-06-25 17:33:21,2024-06-25,17,Lafayette Leake,Short Dressed Woman,piano

#### Dim_songs & Dim_users

In [231]:
df_users['age_group'] = pd.cut(
    df_users['user_age'],
    bins=bins,
    labels=labels,
    right=False,
    include_lowest=True
)
df_users.head()

   user_id         user_name  user_age   user_country created_at age_group
0        1      Norma Fisher        65  United States 2024-02-07     60-69
1        2    Jorge Sullivan        28  United States 2024-11-28     20-29
2        3   Elizabeth Woods        19  United States 2024-11-16     10-19
3        4      Susan Wagner        45  United States 2024-06-14     40-49
4        5  Peter Montgomery        61  United States 2024-07-24     60-69

In [248]:
reference_date = pd.to_datetime("2024-06-25")
start_of_week = reference_date - pd.Timedelta(days=6)

df_users['is_new_weekly'] = df_users['created_at'].dt.date.between(
    start_of_week.date(),
    reference_date.date()
)

In [249]:
df_users.head()

,user_id,user_name,user_age,user_country,created_at,age_group,is_new_weekly
0,1,Norma Fisher,65,United States,2024-02-07,60-69,False
1,2,Jorge Sullivan,28,United States,2024-11-28,20-29,False
2,3,Elizabeth Woods,19,United States,2024-11-16,10-19,False
3,4,Susan Wagner,45,United States,2024-06-14,40-49,False
4,5,Peter Montgomery,61,United States,2024-07-24,60-69,False

In [252]:
df_songs.head()

,id,track_id,artists,album_name,track_name,popularity,duration_ms,explicit,danceability,energy,...,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature,track_genre,duration_s
0,0,5SuOikwiRyPMVoIQDJUgSV,Gen Hoshino,Comedy,Comedy,73,230666,False,0.676,0.4610,...,0,0.1430,0.0322,0.000001,0.3580,0.715,87.917,4,acoustic,230.666
1,1,4qPNDBW1i3p13qLCt0Ki3A,Ben Woodward,Ghost (Acoustic),Ghost - Acoustic,55,149610,False,0.420,0.1660,...,1,0.0763,0.9240,0.000006,0.1010,0.267,77.489,4,acoustic,149.610
2,2,1iJBSr7s7jYXzM8EGcbK5b,Ingrid Michaelson;ZAYN,To Begin Again,To Begin Again,57,210826,False,0.438,0.3590,...,1,0.0557,0.2100,0.000000,0.1170,0.120,76.332,4,acoustic,210.826
3,3,6lfxq3CG4xtTiEg7opyCyx,Kina Grannis,Crazy Rich Asians (Original Motion Picture Sou...,Can't Help Falling In Love,71,201933,False,0.266,0.0596,...,1,0.0363,0.9050,0.000071,0.1320,0.143,181.740,3,acoustic,201.933
4,4,5vjLSffimiIP26QG5WcN2K,Chord Overstreet,Hold On,Hold On,82,198853,False,0.618,0.4430,...,1,0.0526,0.4690,0.000000,0.0829,0.167,119.949,4,acoustic,198.853

In [253]:
df_songs = df_songs.drop('id', axis=1)

In [255]:
df_songs['duration_s'] = df_songs['duration_ms'] / 1000

In [257]:
df_songs['duration_min_sec'] = df_songs['duration_ms'].apply(
    lambda x: f"{int(x // 60000)}:{int((x % 60000) // 1000):02d}"
)

In [262]:
df_songs['tempo_level'] = pd.cut(
    df_songs['tempo'],
    bins=[0, 90, 120, float('inf')],
    labels=['slow', 'medium', 'fast']
)

In [263]:
df_songs.columns

Index(['track_id', 'artists', 'album_name', 'track_name', 'popularity',
       'duration_ms', 'explicit', 'danceability', 'energy', 'key', 'loudness',
       'mode', 'speechiness', 'acousticness', 'instrumentalness', 'liveness',
       'valence', 'tempo', 'time_signature', 'track_genre', 'duration_s',
       'duration_min_sec', 'tempo_level'],
      dtype='object')

Note:

GCS -> df_songs, df_users, fact_streaming (parquet) <br>
BigQuery -> df_songs, df_users, fact_streaming, daily_genre_level_kpis, hourly_level_kpis, track_popularity_summary