In [1]:
import pandas as pd
import os

#### import files local

In [2]:
base_dir = os.getcwd()

In [25]:
# csv file path
csv_songs_path = os.path.join(base_dir, "..", "data", "songs.csv")
csv_users_path = os.path.join(base_dir, "..", "data", "users.csv")
csv_stream_folder = os.path.join(base_dir, "..", "data")

df_songs = pd.read_csv(csv_songs_path)
df_users =pd.read_csv(csv_users_path)
df1 = pd.read_csv(f"{csv_stream_folder}\\streams1.csv")
df2 = pd.read_csv(f"{csv_stream_folder}\\streams2.csv")
df3 = pd.read_csv(f"{csv_stream_folder}\\streams3.csv")
df_streams = pd.concat([df1, df2, df3], ignore_index=True)

#### Cleaning

In [26]:
# validate data type

df_songs.info(), df_users.info(), df_streams.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89741 entries, 0 to 89740
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                89741 non-null  int64
 1   track_id          89741 non-null  object
 2   artists           89740 non-null  object
 3   album_name        89740 non-null  object
 4   track_name        89740 non-null  object
 5   popularity        89741 non-null  int64
 6   duration_ms       89741 non-null  int64
 7   explicit          89741 non-null  bool
 8   danceability      89741 non-null  float64
 9   energy            89741 non-null  float64
 10  key               89741 non-null  int64
 11  loudness          89741 non-null  float64
 12  mode              89741 non-null  int64
 13  speechiness       89741 non-null  float64
 14  acousticness      89741 non-null  float64
 15  instrumentalness  89741 non-null  float64
 16  liveness          89741 non-null  float64
 17  valence           89741 non-null  float64
 18  tempo             89741 non-null  float64
 19  time_signature    89741 non-null  int64
 20  track_genre       89741 non-null  object
dtypes: bool(1), float64(9), int64(6), object(5)
memory usage: 13.8+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   user_id       50000 non-null  int64
 1   user_name     50000 non-null  object
 2   user_age      50000 non-null  int64
 3   user_country  50000 non-null  object
 4   created_at    50000 non-null  object
dtypes: int64(2), object(3)
memory usage: 1.9+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34038 entries, 0 to 34037
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   user_id      34038 non-null  int64
 1   track_id     34038 non-null  object
 2   listen_time  34038 non-null  object
dtypes: int64(1), object(2)
memory usage: 797.9+ KB

(None, None, None)

In [30]:
display(df_songs.head()), display(df_users.head()), display(df_streams.head())

,id,track_id,artists,album_name,track_name,popularity,duration_ms,explicit,danceability,energy,...,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature,track_genre
0,0,5SuOikwiRyPMVoIQDJUgSV,Gen Hoshino,Comedy,Comedy,73,230666,False,0.676,0.4610,...,-6.746,0,0.1430,0.0322,0.000001,0.3580,0.715,87.917,4,acoustic
1,1,4qPNDBW1i3p13qLCt0Ki3A,Ben Woodward,Ghost (Acoustic),Ghost - Acoustic,55,149610,False,0.420,0.1660,...,-17.235,1,0.0763,0.9240,0.000006,0.1010,0.267,77.489,4,acoustic
2,2,1iJBSr7s7jYXzM8EGcbK5b,Ingrid Michaelson;ZAYN,To Begin Again,To Begin Again,57,210826,False,0.438,0.3590,...,-9.734,1,0.0557,0.2100,0.000000,0.1170,0.120,76.332,4,acoustic
3,3,6lfxq3CG4xtTiEg7opyCyx,Kina Grannis,Crazy Rich Asians (Original Motion Picture Sou...,Can't Help Falling In Love,71,201933,False,0.266,0.0596,...,-18.515,1,0.0363,0.9050,0.000071,0.1320,0.143,181.740,3,acoustic
4,4,5vjLSffimiIP26QG5WcN2K,Chord Overstreet,Hold On,Hold On,82,198853,False,0.618,0.4430,...,-9.681,1,0.0526,0.4690,0.000000,0.0829,0.167,119.949,4,acoustic

   user_id         user_name  user_age   user_country created_at
0        1      Norma Fisher        65  United States 2024-02-07
1        2    Jorge Sullivan        28  United States 2024-11-28
2        3   Elizabeth Woods        19  United States 2024-11-16
3        4      Susan Wagner        45  United States 2024-06-14
4        5  Peter Montgomery        61  United States 2024-07-24

   user_id                track_id         listen_time
0    26213  4dBa8T7oDV9WvGr7kVS4Ez 2024-06-25 17:43:13
1     6937  4osgfFTICMkcGbbigdsa53 2024-06-25 07:26:00
2    21407  2LoQWx41KeqOrSFra089YS 2024-06-25 13:25:26
3    47146  7cfG5lFeJWEgpSnubt4O4W 2024-06-25 18:17:50
4    38594  6tilCYbheGMHo3Hw4F22hF 2024-06-25 17:33:21

(None, None, None)

In [28]:
# change data type
df_streams['listen_time'] = pd.to_datetime(df_streams['listen_time'])
df_users['created_at'] = pd.to_datetime(df_users['created_at'])

In [29]:
df_users.info(), df_streams.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   user_id       50000 non-null  int64
 1   user_name     50000 non-null  object
 2   user_age      50000 non-null  int64
 3   user_country  50000 non-null  object
 4   created_at    50000 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(2)
memory usage: 1.9+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34038 entries, 0 to 34037
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   user_id      34038 non-null  int64
 1   track_id     34038 non-null  object
 2   listen_time  34038 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 797.9+ KB

(None, None)

In [ ]:
# handle missing values if exists
def check_handling_nan(df, name):
    any_nan = df.isna().any().any()
    if any_nan:
        # handle nan in that df
        for col in df.columns:
            if df[col].isna().any():
                print(f"Handle missing values on df {name}, column {col}")
                if df[col].dtype == 'object':
                    df[col] = df[col].fillna('Unknown')
                elif pd.api.types.is_datetime64_any_dtype(df[col]):
                    df[col] = df[col].fillna(pd.to_datetime('9999-12-31'))
                else:
                    df[col] = df[col].fillna(0)
    return df

In [34]:
df_streams = check_handling_nan(df_streams, "streams")
print(f"Missing values:\n{df_streams.isna().sum()}")

df_users = check_handling_nan(df_users, "users")
print(f"Missing values:\n{df_users.isna().sum()}")

df_songs = check_handling_nan(df_songs, "songs")
print(f"Missing values:\n{df_songs.isna().sum()}")

Missing values:
user_id        0
track_id       0
listen_time    0
dtype: int64
Missing values:
user_id         0
user_name       0
user_age        0
user_country    0
created_at      0
dtype: int64
Handle missing values on df songs, column artists
Handle missing values on df songs, column album_name
Handle missing values on df songs, column track_name
Missing values:
id                  0
track_id            0
artists             0
album_name          0
track_name          0
popularity          0
duration_ms         0
explicit            0
danceability        0
energy              0
key                 0
loudness            0
mode                0
speechiness         0
acousticness        0
instrumentalness    0
liveness            0
valence             0
tempo               0
time_signature      0
track_genre         0
dtype: int64

In [46]:
def check_handling_duplicate(df, id_column, name):
    if df.duplicated(subset=id_column).any():
        print(f"Found duplicate on {name}, drop duplicate...")
        df = df.drop_duplicates(subset=id_column, keep='first')
    print(f"No duplicate on {name}")
    return df

In [47]:
df_songs = check_handling_duplicate(df_songs, id_column='track_id', name="songs")
df_users = check_handling_duplicate(df_users, id_column='user_id', name="users")
df_streams = check_handling_duplicate(df_streams, id_column=['user_id', 'track_id', 'listen_time'], name="streams")

No duplicate on songs
No duplicate on users
No duplicate on streams

store cleaned df_songs, df_users, df_streams ke data lake (gcs)

#### Join

In [48]:
# main table for analysis
streams_full_clean_analysis = df_streams.merge(df_users, on="user_id", how="inner") \
                                        .merge(df_songs, on="track_id", how="inner")

# temp table for completeness
streams_full_archieve = df_streams.merge(df_users, on="user_id", how="left") \
                                  .merge(df_songs, on="track_id", how="left")

In [51]:
missing_users_df = streams_full_archieve[streams_full_archieve['user_id'].isna()]
missing_songs_df = streams_full_archieve[streams_full_archieve['track_id'].isna()]

missing_users_count = len(missing_users_df)
missing_songs_count = len(missing_songs_df)

print(f"[INFO] Missing users: {missing_users_count}")
print(f"[INFO] Missing songs: {missing_songs_count}")

# save hanya jika ada data user atau song yang hilang
if missing_users_count > 0:
    missing_users_df.to_csv("audit_missing_users.csv", index=False)
    print("[INFO] Saved audit_missing_users.csv")

if missing_songs_count > 0:
    missing_songs_df.to_csv("audit_missing_songs.csv", index=False)
    print("[INFO] Saved audit_missing_songs.csv")

[INFO] Missing users: 0
[INFO] Missing songs: 0

#### Genre-level KPIs

In [53]:
genre_level_kpis = streams_full_clean_analysis.groupby("track_genre").agg(
    total_streams=("listen_time", "count"),
    avg_popularity=("popularity", "mean"),
    unique_listeners=("user_id", "nunique"),
    avg_duration=("duration_ms", "mean")    
).reset_index()

In [64]:
genre_explicit_kpi = df_songs.groupby("track_genre").agg(
    total_track=("track_id", "count"),
    total_explicit_track=("explicit", "sum")
).reset_index()

genre_explicit_kpi['explicit_ratio'] = genre_explicit_kpi['total_explicit_track']/genre_explicit_kpi['total_track']

In [67]:
genre_explicit_kpi

     track_genre  total_track  total_explicit_track  explicit_ratio
0       acoustic         1000                    52        0.052000
1       afrobeat          999                    18        0.018018
2       alt-rock          999                    56        0.056056
3    alternative          407                   127        0.312039
4        ambient          999                     5        0.005005
..           ...          ...                   ...             ...
108       techno          416                     9        0.021635
109       trance          708                    10        0.014124
110     trip-hop          904                    37        0.040929
111      turkish          870                   214        0.245977
112  world-music          923                     0        0.000000

[113 rows x 4 columns]

In [68]:
genre_level_kpis

,track_genre,total_streams,avg_popularity,unique_listeners,avg_duration
0,acoustic,360,41.955556,354,216987.713889
1,afrobeat,368,25.122283,366,259237.461957
2,alt-rock,379,36.266491,377,239878.646438
3,alternative,148,22.195946,144,205637.209459
4,ambient,363,45.000000,361,231071.887052
...,...,...,...,...,...
108,techno,170,38.870588,168,315895.682353
109,trance,251,38.370518,249,301727.892430
110,trip-hop,392,32.897959,391,272911.908163
111,turkish,368,39.513587,365,220596.831522
112,world-music,345,40.486957,345,285720.139130

In [71]:
genre_explicit_kpi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113 entries, 0 to 112
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   track_genre           113 non-null    object
 1   total_track           113 non-null    int64
 2   total_explicit_track  113 non-null    int64
 3   explicit_ratio        113 non-null    float64
dtypes: float64(1), int64(2), object(1)
memory usage: 3.7+ KB

In [72]:
genre_level_kpis = genre_level_kpis.merge(genre_explicit_kpi, on="track_genre", how="left")

In [73]:
genre_level_kpis

,track_genre,total_streams,avg_popularity,unique_listeners,avg_duration,total_track,total_explicit_track,explicit_ratio
0,acoustic,360,41.955556,354,216987.713889,1000,52,0.052000
1,afrobeat,368,25.122283,366,259237.461957,999,18,0.018018
2,alt-rock,379,36.266491,377,239878.646438,999,56,0.056056
3,alternative,148,22.195946,144,205637.209459,407,127,0.312039
4,ambient,363,45.000000,361,231071.887052,999,5,0.005005
...,...,...,...,...,...,...,...,...
108,techno,170,38.870588,168,315895.682353,416,9,0.021635
109,trance,251,38.370518,249,301727.892430,708,10,0.014124
110,trip-hop,392,32.897959,391,272911.908163,904,37,0.040929
111,turkish,368,39.513587,365,220596.831522,870,214,0.245977
112,world-music,345,40.486957,345,285720.139130,923,0,0.000000

#### Daily Genre-level KPIs

#### Hourly-level KPIs

#### User behaviour

#### Track popularity summary

#### Daily active users

#### Fact_streaming

#### Dim_songs & Dim_users